
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Course Data</title>
</head>

<body>
    <h1> Course Details </h1>
    <table border="2" id="course-details-table">
        <tr>
            <td> Average Marks </td>
            <td> Maximum Marks </td>
        </tr>
        <tr>    
            <td> 67.2 </td>
            <td> 90 </td>
        </tr>
    </table>  
    <br>
    <img src="static/image.png">
    <br>
    <a href="/"> Go Back </a>
</body>

</html>