<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Student Data</title>
</head>
<body>
    <h1> Student Details </h1>
    <table border="2" id = "student-details-table">
        <thead>

            <tr>
                <th>Student Id</th>
                <th>Course Id</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody>

            {% for each in {{student_data}} %}
            <tr>
                <td>each['Student id']</td>
                <td>each['Course id']</td>
                <td>each['Marks']</td>
            </tr>
            {% end for %} 
            <tr>
                <td colspan = "2" style="text-align:center"> Total Marks </td>
                <td>{{total_marks_data}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br> 
    <a href="/">Go Back</a>

</body>

</html>